<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="하루 친구"
        android:supportsRtl="true"
        android:theme="@style/Theme.PortfolioChildEmotionPreventAppAll"
        tools:targetApi="31">

        <activity
            android:name=".AllMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AllLoginActivity"
            android:exported="false"
            android:parentActivityName=".AllMainActivity" />

        <activity
            android:name=".AllMyPageActivity"
            android:parentActivityName=".ChildChatBotActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChildChatBotActivity" />
        </activity>

        <activity
            android:name=".ChildRegisterActivity"
            android:exported="false"
            android:parentActivityName=".AllLoginActivity" />

        <activity
            android:name=".ExpertRegisterActivity"
            android:exported="false"
            android:parentActivityName=".AllLoginActivity" />

        <activity
            android:name=".ManagerRegisterActivity"
            android:exported="false"
            android:parentActivityName=".AllLoginActivity" />


        <activity
            android:name=".ChildChatBotActivity"
            android:exported="false"
            android:parentActivityName=".ChildSelectActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".ChildExpertChatActivity"
            android:exported="false"
            android:parentActivityName=".ChildSelectActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".ChildSelectActivity"
            android:exported="false"
            android:parentActivityName=".AllLoginActivity" />


        <activity
            android:name=".ExpertChildListActivity"
            android:exported="false"
            android:parentActivityName=".ExpertSelectActivity" />
        <activity
            android:name=".ExpertChildChatActivity"
            android:exported="false"
            android:parentActivityName=".ExpertChildListActivity" />

        <activity
            android:name=".ExpertSelectActivity"
            android:exported="false"
            android:parentActivityName=".AllLoginActivity" />



        <activity
            android:name=".ManagerChildListActivity"
            android:exported="false"
            android:parentActivityName=".ManagerSelectActivity" />
        <activity
            android:name=".ManagerExpertListActivity"
            android:exported="false"
            android:parentActivityName=".ManagerChildListActivity" />
        <activity
            android:name=".ManagerSelectActivity"
            android:exported="false"
            android:parentActivityName=".AllLoginActivity" />

    </application>

</manifest>